body {
    background-color: #797D7F;
    color: black;
}

p {
    text-align: center;
    font-family: Verdana;
    color: black;
}

h3 {
    text-align: center;
    font-family: Verdana;
    font-size: large;
    color: black;
}